.hero {
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: #1e3aa1;
}

.hero-img {
  padding: 20px;
  border-radius: 100%;
}

.hero-info {
  justify-content: center;
  padding: 1.5rem 0;
}
